header {
    background-color: #44606D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Vibur";
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 0px 20px 10px rgb(255 255 255 / 31%);
}

h1 {
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    box-shadow: 17px 3px 20px 0px #1b9cd8;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, #0729386e, #1475a2)
}

.page-title-design-box {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-nav {
    display: flex;
    gap: 3em;
}

.navlink {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
}

.navlink.active {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 5px #1b9cd8;
    background: linear-gradient(to bottom, #0729386e, #0c4965);
}

@media screen and (max-width: 1432px) {

    header {
        flex-direction: column;
    }

    h1 {
        font-size: 3em;
    }

    .navlink {
        font-size: 1em;
    }

}