.all-countries-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 3em;
    margin-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    gap: 2em;
}