.hero-container {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.verbs {
    width: 100%;
    /* text-shadow: 0 0 2px #000, 0 0 0.5em #000, -15px -7px 6px #000; */
    text-shadow: 0 0 2px #000, 0 0 0.5em #000, 7px 7px 6px #000;
}

.one {
    text-align: left;
    padding-left: 10%;
    font-size: 60px;
    color: white;
}

.two {
    text-align: left;
    padding-left: 25%;
    color: white;
    font-size: 35px;
}

.three {
    text-align: left;
    padding-left: 40%;
    color: white;
    font-size: 35px;
}

.four {
    text-align: left;
    padding-left: 55%;
    color: white;
    font-size: 35px;
}

.statement {
    width: 50vw;
    font-size: 30px;
    color: white;
    /* padding-left: 50px; */
    padding: 30px;
}

.statement-globe {
    display: flex;
    flex-direction: column;
    margin-right: 10em;
    /* text-shadow: 0 0 2px #000, 0 0 0.5em #000, -3px -3px 6px #000; */
    text-shadow: 0 0 2px #000, 0 0 0.5em #000, 7px 7px 6px #000;
}

.globe {
    font-size: 100px;
    animation: spin 20s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }