.highlight-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 100px;
    border-top: 10px solid #00000070;;
    border-bottom: 10px solid #00000070;;
    margin-right: 3em;
    margin-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #44606d7d;
}

img {
    width: 25em;
    box-shadow: 14px 11px 20px 10px hsla(0,0%,13%,1);
}

.highlight-location {
    color: white;
    font-size: 55px;
    padding: 35px;
    background: linear-gradient(to bottom, #0729386e, #0c4965);
    box-shadow: 14px 11px 20px 10px hsla(0,0%,13%,1);
    border-radius: 20px;
}

.location-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -100px;
    text-shadow: 0 0 2px #000, 0 0 0.5em #000, 7px 7px 6px #000;
}

.learn-more {
    background: linear-gradient(to bottom, #0729386e, #0c4965);
    border-radius: 11px;
    border: 2px solid #000;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 18px;
    text-decoration: none;
}

.learn-more:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 5px #1b9cd8;
}
